<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,
                   maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ener-I Larry</title>

    <script>
        // loads in variables
		var remoteConf = {
		    capabilities: {},
			dbInstance: "{{ inst.db_instance }}",
			mapInstance: "{{ inst.map_instance }}",
		}
    </script>
    <script src="/adda/js/adda.ready.js"></script>
</head>

<body>
    <h3>User: {{year}} </h3>
</body>
</html>
